.inputContainer {
    position: absolute;
    left: 570px;
    bottom: 375px;
    label {
        margin-top: 20px;
    }

    label,
    input,
    select {
        display: block;
    }
    select {
        width: 130px;
        padding: 5px 10px;
    }

    option {
        font-size: 15px;
    }

    button {
        margin-top: 25px;
    }
}

.inputRow {
    &:nth-of-type(2) {
        position: relative;
        left: 180px;
        bottom: 75px;
    }
}
